<!DOCTYPE html>
{% load static %}
<html lang="en">
  <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manga Seikatsu</title>
    <link rel="shortcut icon" href="{% static 'Mangas/img/Logo.png' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'Mangas/css/carritoStyle.css' %}" />
    <link rel="stylesheet" href="{% static 'Mangas/css/bootswatch.css' %}" />   
    <script
      src="https://kit.fontawesome.com/928971cd2d.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>


  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a href="{% url 'index' %}"
            ><img
              src="{% static 'Mangas/img/Logo.png' %}"
              class="icon"
              alt="Manga seikatsu"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor02"
            aria-controls="navbarColor02"
            aria-expanded="true"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse bg-dark" id="navbarColor02">
            <ul class="navbar-nav p-3">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'index' %}"
                  >Inicio
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Ofertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer">Nosotros</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Categorias</a
                >

                <div class="dropdown-menu">
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Shonen</a>
                  <a class="dropdown-item" href="#">Shoujo</a>
                  <a class="dropdown-item" href="#">Kodomo</a>
                  <a class="dropdown-item" href="#">Seinen</a>
                  <a class="dropdown-item" href="#">Josei</a>
                  <div class="dropdown-divider"></div>
                </div>
              </li> -->
              
            </ul>

            <ul class="navbar-nav d-flex flex-row ml-auto">
              <!-- <li>
                <form class="d-flex mb-3">
                  <input
                    class="form-control me-sm-2"
                    type="search"
                    placeholder="Buscar"
                  />
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                    Buscar
                  </button>
                </form>
              </li> -->

              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text-white"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user mx-1"></i>
                  {% if user.is_authenticated %} 
                      {{ user.username }} 
                  {% else %}
                      Perfil 
                  {% endif %}
                </a>
                <!-- Dropdown menu -->
                <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdown"
                >
                  <li>
                    <a class="dropdown-item" href="#">Mi cuenta</a>
                  </li>
                  {% if user.is_authenticated %} 
                  {% if user.is_staff%}

                  <li>
                    <a class="dropdown-item" href="{%url 'addManga'%}">Añadir Manga</a>
                  </li>

                  <li>
                    <a class="dropdown-item" href="{%url 'reporte_mangas'%}">Reporte Mangas</a>
                  </li>
                  {% endif %}
                  
                  <li>
                    <a class="dropdown-item" href="{% url 'logout' %}"
                      >Cerrar sesión</a
                    >
                  </li>
                  {% else %}
                  <li>
                    <a class="dropdown-item" href="{% url 'login' %}"
                      >Iniciar sesión</a
                    >
                  </li>

                  {% endif %}
                </ul>
              </li>

              <li>
                <a href="{% url 'carrito'%}" class="basket-2 ml-3 mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-bag"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br><br>
    <!-- CARRITO -->
    <div class="card">
      <div class="row">
        <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h4><b>Carrito de Compras</b></h4>
              </div>
            </div>
          </div>
          <div class="row border-top border-bottom" id="detail-cart"></div>

          <div class="back-to-shop">
            <a href="{% url 'index' %}"
              >&leftarrow;
              <span>Volver a comprar</span>
            </a>
          </div>
        </div>
        <div class="col-md-4 summary">
          <div>
            <h5><b>Resumen de compra</b></h5>
          </div>
          <form action="" id="form-pago">
            <div class="mb-3">
              <p class="dis fw-bold mb-2">Email</p>
              <input
                class="form-control"
                type="email"
                id="emailCarrito"
                name="emailCarrito"
                placeholder="luke@skywalker.com"
                required
              />
            </div>
            <div>
              <p class="dis fw-bold mb-2">Detalles de tarjeta</p>
              <div
                class="d-flex align-items-center justify-content-between card-atm border rounded"
              >
                <input
                  type="text"
                  class="form-control"
                  name="nroTarjeta"
                  id="nroTarjeta"
                  placeholder="Detalle"
                  required
                />
                <div class="d-flex w-50">
                  <input
                    type="text"
                    class="form-control px-0 ml-1 mr-1"
                    name="fechaVencimiento"
                    id="fechaVencimiento"
                    maxlength="5"
                    placeholder="MM/YY"
                  />
                  <input
                    type="password"
                    maxlength="3"
                    class="form-control px-0"
                    name="cvv"
                    id="cvv"
                    placeholder="CVV"
                  />
                  <div class="validation-message" id="validationMessage"></div>
                </div>
              </div>
              <div class="my-3 cardname">
                <p class="dis fw-bold mb-2">Nombre</p>
                <input
                  class="form-control"
                  name="nombreDueño"
                  id="nombreDueño"
                  placeholder="Nombre Portador"
                  type="text"
                  required
                />
              </div>
              <div class="address">
                <p class="dis fw-bold mb-3">Direccion</p>
                <div class="my-3 cardname">
                  <input
                    class="form-control"
                    name="calle"
                    id="calle"
                    placeholder="calle"
                    type="text"
                    required
                  />
                </div>
                <select
                  class="form-select m-1"
                  name="region"
                  id="region"
                  aria-label="Default select example"
                  required
                >
                  <option value="null">Seleccione</option>
                </select>
                <div class="d-flex">
                  <input
                    class="form-control zip m-1"
                    type="text"
                    name="zipCode"
                    placeholder="codigo postal"
                    required
                  />
                  <select
                    class="form-select m-1"
                    name="comuna"
                    id="comuna"
                    aria-label="Default select example"
                  >
                    <option value="null">Seleccione</option>
                  </select>
                </div>

                <div
                  id="subtotal"
                  class="d-flex flex-column dis subtotal"
                ></div>
              </div>
            </div>
          </form>
          <div
            id="total"
            class="row total"
            style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
          ></div>
          <button class="btn" type="submit" id="btn-pago">PAGAR</button>
        </div>
      </div>
    </div>

    <footer
      class="text-center text-white"
      style="background-color: rgba(23, 2, 41, 1)"
    >
      <!-- Grid container -->
      <div class="container2 pt-4">
        <!-- Section: Social media -->
        <a id="footer"></a>
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-twitter"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="#!"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-light m-1"
            href="https://github.com/Manuboy17/Proyecto_MangaSeikatsu.git"
            target="_blank"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center text-light p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2023 Copyright:
        <a class="text-light" href="#">MangaSeikatsu.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

    <script src="{% static 'Mangas/js/apiChileExpress.js' %}"></script>
    <script src="{% static 'Mangas/js/validaciones.js' %}"></script>
    <script src="{% static 'Mangas/js/cart.js' %}"></script>
    <script src="{% static 'Mangas/js/compra.js' %}"></script>
  </body>
</html>
