*{
    margin: 0px;
    padding: 0px;
}


#column{
    align-items: center;

}
.cont-img {
    padding: 10px;
}
.product{
    margin-top: 100px;
    width: 60%;
}
.item {
    padding-left: 80px;
}

.detalle-precio , .btn-carrito {
    padding-top: 80px;
}