*{
    margin: 0px;
    padding: 0px;
}


#column{
    align-items: center;

}
.cont-img {
    padding: 10px;
}
.product{
    width: 60%;
    
}
.item {
}

.detalle-precio , .btn-carrito {
    padding-top: 80px;
}
#cont-manga{
    margin-top: 130px;
    margin-left: 20px;
}