body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0; 
}
.carousel{
    width: 95vw;
}
.img-carrusel {
    width: 100vw;
    height: 500px;
}
.carro {
    margin-left: 10px;
}
nav {
    height: 100px;
    font-size: 20px;
    z-index: 2;
}
.manga-containter{
    margin: 30px;
}
#carouselExampleFade::before{
    background: black;
}
#carrito{
    color: white;
    width: 20px;
}
.basket-2{
    margin-left: 10px;
    text-decoration: none;
    text-align: center;
}
.basket-2:hover {
    text-decoration: none;
}
.agregar {
    color: white;
    text-decoration: none;
}
.agregar:hover {
    text-decoration: none;
}

.icon {
    height: 80px;
}

.form-outline .form-control {
    min-height: auto;
    padding: 0.33em 0.75em;
    border: 0;
    transition: all .2s linear;
}
.gradient-custom {
    background: #6a11cb;

    background: -webkit-linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );

    background: linear-gradient(
      to right,
      rgba(106, 17, 203, 1),
      rgba(37, 117, 252, 1)
    );
}
.login, .login > a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
}
/* linear-gradient(rgba(255, 255, 255, 0), rgba(23, 2, 41, 1)) */
