*{
    margin: 0px;
    padding: 0px;
}


#column{
    align-items: center;

}

.product{
    padding: 80px;
    width: 90%;
}
.item {
    padding-left: 80px;
}

.detalle-precio , .btn-carrito {
    padding-top: 80px;
}